#home
{

    position:absolute;
    text-align:center;
    background-color: red;
    color: white;
    float: left;
    transform: rotate(90deg);
    transform-origin: 18% 35%;
    margin-top: 50px;

}

.text
{
    background-color: red;
    width: 20px;
    margin-left: 50px;
}